@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --black: #333;
    --white: #fff;
    --grey: #666;  
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);  
    --orange: #ee6c09;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: var(--white);
    color: var(--black);
    font-weight: 300;
    font-size: 62.5%;
    font-family: 'Nunito', sans-serif;
    text-rendering: optimizeLegibility;
}


.sect{
    padding:2rem 9%;
}
.sect:nth-child(even){
    background:#eee;
}

.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}

.header{
    height: 100vh;
    background: url(./images/satsumaSushi.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.navbar-container{
    position: fixed;
    background: var(--white);
    top: 0; left: 0; right: 0;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}
.navbar-container .navbar{
    padding: 1rem 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-container .navbar .logo{
    font-weight: bolder;
}
.navbar-container .navbar ul{
    display: flex;
}
.nav-items li{
    list-style: none;
    margin: 0 10px;
        
}
.nav-items li a{
    text-decoration: none;
    color: var(--black);
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    font-weight: bold;
    font-size: 1.7rem;   
}
.nav-items li a:active,
.nav-items li a:hover{
    background-color: var(--orange);
    color: var(--white);
    transition: 0.5s;
    cursor: pointer;  
}
/* navbar end */

/* page-hero start */

/*.pageHero-container{
    border: 5px solid red;
    height: 100%;
}
.page-hero {
    position: absolute;
    width: 1140px; height: 100%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid yellow;
}
.ph-textWrapper p{
    margin: 0;
    color: var(--white);
    font-size: 240%;
    text-transform: uppercase;
    font-weight: 400;
    border: 5px solid green;
}


*/
#page-hero{
    height: 100%;
}
.pageHero-container{
    width: 90%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: left;
  /*   text-align: center; */
}
#page-hero .pageHero-info h1 {
  font-size: 3rem;
  /* text-transform: uppercase; */
  margin-bottom: 1rem;
}
#page-hero .pageHero-info h2 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
#page-hero .pageHero-info p {
  font-size: 1.2rem;
  max-width: 50%;
}
#page-hero .pageHero-info a {
  text-decoration: none;
  display: inline-block;
  background-color: var(--white);
  border-radius: 4px;
  font-size: 1.8rem;
  padding: 0.5em 2em;
  margin-top: 2rem;
  color: var(--orange);
}
#page-hero .pageHero-info a:active,
#page-hero .pageHero-info a:hover {
    background-color: var(--orange);
    color: var(--white);
    transition: 0.5s;
    cursor: pointer;
}
#page-hero .pageHero-info h1, 
#page-hero .pageHero-info h2, 
#page-hero .pageHero-info p{
    color: var(--white);
}
/* page hero end */

/* categories start */
#categories{
    padding: 25px 0;
}
.categories-container{
    width: 95%;
    max-width: 1440px;
    margin: 0 auto;
    border: 3px solid transparent;
}
.categories-heading{
    color: var(--black);
    text-transform: capitalize;
    font-size: 30px;
}
.categories-wrapper{
    display: grid;
    grid-gap: 100px;
    margin-top: 50px;
    padding-right: 50px;
    grid-template-columns: repeat(3, 1fr);
}

.category{
    border: 2px solid rgba(193,207,193);
    padding: 50px 30px;
    border-radius: 30px;
    position: relative;
}
.category h4{
    font-size: 24px;
    text-transform: capitalize;
}
.category .recipes-number{
    color: #848484;
    font-size: 14px;
}
.category img{
    position: absolute;
    max-width: 175px;
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.2));
    top: 50%;
    transform: translateY(-50%);
    right: -20%;
    border-radius: 50%;
}
.category .btn{
    display: inline-block;
    margin-top: 40px;
    padding: 10px 50px;
    color: var(--orange);
    border: 2px solid var(--orange);
    text-decoration: none;
    border-radius: 100px;
    text-transform: uppercase;
    font-size: 14px;
    white-space: nowrap;
    transform: all 0.3s;
}
.category .btn:active,
.category .btn:hover{
    background-color: var(--orange);
    color: #fff;
}



.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{ 
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color:var(--black);
    font-size: 4rem;
    padding:.5rem 0;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--green);
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}



.review .slide{
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;    
}

.review .slide .fa-quote-right{
    position: absolute;
    top:2rem; right:2rem;
    font-size: 6rem;
    color:#ccc;
}

.review .slide .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.3rem;
    color:var(--green);
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
}


.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color:var(--black);
}

.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.footer .box-container .box a:hover{
    color:var(--green);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color:var(--black);
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color:var(--green);
}
